:root {
    --background-color-button-primary: rgb(99 67 214);
    --background-color-button-secondary: rgb(96 111 133);
    --background-color-button-danger: rgb(179 45 45);
    --background-color-button-warning: rgb(202 155 71);
    --background-color-button-success: rgb(32 172 86);
    --border-radius-button-primary: 8px;
}

button[is=x-button] {
    color: var(--font-color-primary);
    border: none;
    border-radius: var(--border-radius-button-primary);
    cursor: pointer;
    transition: transform 0.18s ease, box-shadow 0.18s ease, filter 0.18s ease;
    height: 100%;
}

/* ------------ Button Colors -------------- */
button[is=x-button] {
    background: linear-gradient(135deg, oklch(from var(--background-color-button) l c h) 0%,
    oklch(from var(--background-color-button) calc(l - 0.04) c h) 45%,
    oklch(from var(--background-color-button) calc(l - 0.08) c h) 100%);
}

button[is=x-button],
button[is=x-button][variant=primary] {
    --background-color-button: var(--background-color-button-primary);
}

button[is=x-button][variant=secondary] {
    --background-color-button: var(--background-color-button-secondary);
}

button[is=x-button][variant=success] {
    --background-color-button: var(--background-color-button-success);
}

button[is=x-button][variant=warning] {
    --background-color-button: var(--background-color-button-warning);
}

button[is=x-button][variant=danger] {
    --background-color-button: var(--background-color-button-danger);
}

button[is=x-button][size=extra-small] {
    font-size: 0.8rem;
    padding: 5px 10px;
}

button[is=x-button][size=small] {
    font-size: 0.9rem;
    padding: 6px 12px;
}

button[is=x-button],
button[is=x-button][size=medium] {
    font-size: 1rem;
    padding: 7px 14px;
}

button[is=x-button][size=large] {
    font-size: 1.1rem;
    padding: 8px 16px;
}

button[is=x-button][size=extra-large] {
    font-size: 1.2rem;
    padding: 9px 18px;
}

button[is=x-button]:hover {
    filter: brightness(1.10);
}

button[is=x-button]:active {
    filter: brightness(0.95);
}