div[is=x-card] {
    & {
        background-color: var(--background-color-secondary);
        color: var(--font-color-primary);
        border: var(--border-width-primary) solid var(--border-color-primary);
        border-radius: var(--border-radius-primary);
        width: 100%;
    }

    div[is=x-card-header] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-card-primary);
        border-bottom: var(--border-width-primary) solid var(--border-color-primary);
        font-weight: bold;
    }

    div[is=x-card-footer] {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: var(--gap-card-primary);
        border-top: var(--border-width-primary) solid var(--border-color-primary);
    }
}

div[is=x-card] {
    &[size=small] {
        div[is=x-card-header] {
            padding: 8px 10px 6px 10px;
        }

        div[is=x-card-footer] {
            padding: 6px 10px;
        }

        div[is=x-card-body] {
            padding: 10px 10px;
        }
    }

    &[size=medium] {
        div[is=x-card-header] {
            padding: 10px 12px 8px 12px;
        }

        div[is=x-card-footer] {
            padding: 8px 12px;
        }

        div[is=x-card-body] {
            padding: 12px 12px;
        }
    }

    &[size=large] {
        div[is=x-card-header] {
            padding: 16px 18px 14px 18px;
            font-size: 18px;
        }

        div[is=x-card-footer] {
            padding: 14px 18px;
        }

        div[is=x-card-body] {
            padding: 18px 18px;
        }
    }
}