:root {
    --sidebar-width: 350px;
}

@media (max-width: 768px) {
    :root {
        --sidebar-width: 100%;
    }
}

x-sidebar {
    & {
        display: block;
        position: fixed;
        width: var(--sidebar-width);
        background-color: var(--background-color-secondary);
        height: 100dvh;
        padding: var(--border-width-primary);
        transition: left 0.3s ease, right 0.3s ease, width 0.3s ease;
        z-index: 1;
        left: 0;
        top: 0;
    }

    &[hidden] {
        left: calc(var(--sidebar-width) * -1);
    }

    &[position=right] {
        & {
            left: auto;
            right: 0;
            top: 0;
        }

        &[hidden] {
            right: calc(var(--sidebar-width) * -1);
            left: auto;
        }
    }
}

x-sidebar::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: var(--border-width-primary) solid var(--border-color-primary);
    pointer-events: none;
}


x-sidebar x-overlay {
    z-index: -1;
}

x-sidebar[position=left] x-overlay {
    left: 0;
    right: auto;
}

x-sidebar[position=right] x-overlay {
    right: 0;
    left: auto;
}

x-sidebar[hidden] x-overlay {
    display: none;
}